body{
    display: flex;
    flex-direction: column;
    height: 705px;
    background-color: cornflowerblue;
}
.todo-app{
    height: 706px;
    flex-direction: column;
    display: flex;
}
.todo-name{
    display: flex;
    justify-content: center;
    height: 10%;
    align-items: center;
}
.todo-form{
    display: flex;
    justify-content: center;
    height: 15%;
    align-items: center;
}
.todo-list-of-messages{
    height: 75%;
    overflow-y: scroll;
}
.todo-element{
    display: flex;
    height: 40px;
    justify-content: center;
}
.todo-element_message{
    width: 60%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}
.todo-element_message_complete{
    background-color: greenyellow;
}